.Container {
  display: flex;
  height: 100vh;
}

.sideBar {
  height: 100%;
  width: 25%;
  background-color: rgba(158, 165, 170, 0.288);
}

.mainContainer {
  height: 100%;
  width: 75%;
}

.backButtonContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 1%;
}

.sideBarContaint {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sideBarContaintHomePage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
}




/*  schema page CSS  */

.schemaContainer {
  height: 100%;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: column;
}

.schemaCardsContainer {
  display: flex;
  flex-wrap:wrap;
  justify-content:start;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.schemaCardsContainer::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
  border-radius: 8px;
}

.schemaCardsContainer::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 100px;
}

.schemaCardsContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.card-container {
  height: 40%;
  width: 33.333333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  height: 90%;
  width: 90%;
  border-radius: 2%;
  box-shadow: 0px 1px 2px rgb(97, 95, 95);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-content {
  padding-left: 5%;
}

.addSchemaButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 2px solid black; /* Border color */
  color: #ffffff; /* Text color */
  background-color: black; /* Background color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.addSchemaButton:hover {
  background-color: white; /* Change background color on hover */
  color: black;
}

.nextButton {
  position: fixed;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 2px solid black; /* Border color */
  color: #ffffff; /* Text color */
  background-color: black; /* Background color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-top: 38%;
  margin-left: 65%;
  box-shadow: 7px 7px 10px rgb(97, 95, 95);
}

.nextButton:hover {
  background-color: white; /* Change background color on hover */
  color: black;
}

/*  new-schema-pop up window */

.new-schema-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.new-schema-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgba(97, 95, 95, 0.555);
  height: 50%;
  width: 30%;
  padding-left: 10%;
  padding-right: 10%;
}

.new-schema-table {
  display: flex;
  justify-content: space-between;
}

.new-schema-button {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
}


/*  schema page CSS  */

.controllerContainer {
  height: 100%;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: column;
}

.controllerCardsContainer {
  display: flex;
  justify-content:start;
  height: 100%;
  flex-direction: column;
  overflow: auto;
}

.controllerCardsContainer::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
  border-radius: 8px;
}

.controllerCardsContainer::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 100px;
}

.controllerCardsContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.controllerInfoContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.controllerMethodsContainer {
  display: flex;
  height: 100%;
  padding-top: 2%;
  overflow: auto;
}

.controllerMethodsContainer::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
  height: 10px;
  border-radius: 8px;
}

.controllerMethodsContainer::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 100px;
}

.controllerMethodsContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.controller-card-container {
  height: 100%;
  width: 33.33333%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-right: 40px;
  margin-left: 1px;
}

.controller-card {
  background-color: white;
  height: 250px;
  width: 400px;
  border-radius: 2%;
  box-shadow: 0px 1px 2px rgb(97, 95, 95);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.card-content {
  padding-left: 5%;
}

.addControllerButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 2px solid black; /* Border color */
  color: #ffffff; /* Text color */
  background-color: black; /* Background color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.addControllerButton:hover {
  background-color: white; /* Change background color on hover */
  color: black;
}

.addRouterButton {
  display: inline-block;
  padding: 1px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 2px solid black; /* Border color */
  color: #ffffff; /* Text color */
  background-color: black; /* Background color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.addRouterButton:hover {
  background-color: white; /* Change background color on hover */
  color: black;
}

.nextButton {
  position: fixed;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;  
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 2px solid black; /* Border color */
  color: #ffffff; /* Text color */
  background-color: black; /* Background color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-top: 38%;
  margin-left: 65%;
  box-shadow: 7px 7px 10px rgb(97, 95, 95);
}

.downloadingButton {
  position: fixed;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;  
  font-weight: bold;
  text-align: center;
  cursor: default;
  border: 2px solid black; /* Border color */
  background-color: white; /* Change background color on hover */
  color: black;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-top: 38%;
  margin-left: 60%;
  box-shadow: 7px 7px 10px rgb(97, 95, 95);
}

.nextButton:hover {
  background-color: white; /* Change background color on hover */
  color: black;
}

/*  new-schema-pop up window */

.new-schema-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.new-schema-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgba(97, 95, 95, 0.555);
  height: 50%;
  width: 30%;
  padding-left: 10%;
  padding-right: 10%;
}

.new-schema-table {
  display: flex;
  justify-content: space-between;
}

.new-schema-button {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.newSchema {
  /* background-color: red; */
}

.schemaHeader {
  /* background-color: greenyellow; */
  display: flex;
  justify-content: space-between;
}

.schemaHeaderContent {
  /* background-color: blueviolet; */
}

.schemaContent {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}